.td-navbar .navbar-brand {
    svg {
        height: inherit;
    }
    span:last-of-type {
        display: none;
    }
}
@media (max-width: 768px) { 
    .display-1 {
        font-size: 2rem;
    }
    #main_navbar {
        display: none;
    }
    .td-navbar {
        background: #403F4C;
    }
}
